# --- Python Basics ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# --- OS Metadata (Mac/Windows) ---
.DS_Store
Thumbs.db

# --- PROJECT SPECIFIC (Do not push these!) ---
# Ignore the dataset to save space and avoid GitHub limits
data/

# Ignore large trained models
models/